body {
    font-family: Sans-Serif;
    /* color: #404040; */
}


h1 {
    color: var(--white-text);
    font-size: 1.5rem;
    font-weight: 800;

    margin-top: 1rem;
    margin-bottom: .2rem;
    margin-left: 1rem;
}

.title {
    background-color: #404040;    
}


h2 {
    color: var(--white-text);
    margin-top: 1rem;
    margin-bottom: .2rem;
    margin-left: 1rem;
}

h3 {
    font-size: 1.0em;
    margin-top: 1rem;
    margin-bottom: .1rem;
    margin-left: 1rem;
}


h4 {
    margin-top: .1rem;
    margin-bottom: .2rem;
}

p {
    color: var(--white-text);
    font-size: .8rem;

    margin-top: .2rem;
    margin-bottom: 2.2rem;
    margin-left: 1rem;
}


a {
    font-size: .8em;
    margin-top: 1rem;
    margin-bottom: .2rem;
    margin-left: 1rem;
}

ul {
    list-style: none;
}

li {
    margin: 1.8rem 0;
}

.story-details {
    font-size: .8em;
    margin-left: 1rem;
}
.note {
    font-size: .8em;
    font-style: italic;
}

.search-container {
    border-radius: 3px;
    background-color: rgb(231, 231, 231);
}

.story {
    margin: .5rem .1rem .5rem .1rem;
}

.story-image {
    float: left;
}

h3.story-title {
    font-size: .8em;
    margin: .0rem .1rem .1rem .3rem;
}

.story-body {
    overflow: auto;
}

.story-topic {
    margin: .0rem .2rem .1em .2rem;  
    font-weight: normal;
    font-style: italic;
}

.story-link {
    font-size: .7em;
    margin: .5rem .2rem .2rem .2rem;  
    text-decoration: none;
    line-height: .1rem;
}


.story:hover{
    background-color: #cee2ed;
    cursor:pointer;
 }

 a.tagline {
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: .2rem;
    margin-left: .3rem;
    text-decoration: none; 
 }
