:root {
    font-size: calc(0.5em + 1vw);

    --white-text: rgb(255, 255, 255);
    --blue-link: rgb(98, 132, 171);
    --red-text: rgb(248, 48, 54);
    --grey-text: rgb(105,105,105);
    --black-text: rgb(19, 18, 14);
    
    --bar-width: 220px;

    --phone-width: 50rem;
    --max-width: 1366px; 
}

body {
    margin: 0;
    overflow: hidden;
    /* background-color: rgb(22, 31, 45); */
}

.container {
    display: grid;
    grid-template-areas: 
        "title          title" 
        "searchBox      searchBox" 
        "date           date" 
        "topic          filters" 
        "topic          stories" 
        "mediaOutlet    stories" 
        "footer         footer"; 
    grid-template-columns: var(--bar-width) 1fr;
    grid-template-rows: 5rem 3.6rem 110px 3rem 225px auto 1rem;
    grid-gap: .1em;
    margin: 0px;
    height: 100vh;
    width: calc(100vw - 1.1rem); 
}

.container *> {
    border: 1px solid black;    
}

@media screen and (min-width: 1200px) {
    :root {
        font-size: 22px; 
    }
    .container {
        width: 1200px; 
    }
}

.title {
    font-family: "publico", Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    
    grid-area: title;
    text-align: center;
}

.search-box {
    grid-area: searchBox;
    display: flex;
    justify-content: center;
}

.date {
    grid-area: date;
}


.stories {
    grid-area: stories;
    overflow: auto;
}

.topic {
    grid-area: topic;
}

.filters {
    grid-area: filters;
}

.mediaOutlet {
    grid-area: mediaOutlet;
    overflow: auto;
}

.footer {
    grid-area: footer;
}