:root {
    --bar-width: 200px;

    --phone-width: 50rem;
    --max-width: 1366px; 
}

body {
    margin: 0;
    overflow: hidden;
}

.container {
    display: grid;
    grid-template-areas: 
        "title      title       title" 
        "date       date        searchBox" 
        "topic      mediaOutlet stories" 
        "footer     footer      footer"; 
    grid-template-columns: var(--bar-width) var(--bar-width) 1fr;
    grid-template-rows: 5rem 10rem auto 1rem;
    grid-gap: .5em;
    margin: 0px;
    height: 100vh;
    width: calc(100vw - 1.1rem); 
}

.container *> {
    border: 1px solid black;    
}

.title {
    grid-area: title;
}

.search-box {
    grid-area: searchBox;
}

.date {
    grid-area: date;
}

.stories {
    grid-area: stories;
    overflow: auto;
}

.topic {
    grid-area: topic;
}

.mediaOutlet {
    grid-area: mediaOutlet;
}

.footer {
    grid-area: footer;
}